<div class="my-8 mx-4 text-lg">
  Below are all your playlists. You can play this game against yourself (which isn't that much fun) or you pick one playlists you created with friends.
</div>

<% if @playlists.empty? %>
  Sorry, you don't have any playlists with friends :(
<% else %>
  <% @playlists.each do |playlist| %>
    <div class="flex items-center justify-center px-4 mb-8">
      <div class="max-w-sm overflow-hidden rounded-xl shadow-md duration-200 hover:scale-105 hover:shadow-xl">
        <img src="<%= playlist.images.first.dig("url") %>" alt="<%= playlist.name %>" class="h-auto w-full" />
        <div class="p-5">
          <p class="text-medium mb-5 text-gray-700"><%= playlist.name %></p>
          <%= link_to "Play", playlist_path(playlist.id), class: "block w-full rounded-md bg-indigo-600 p-2 text-indigo-100" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
